{% extends "productos/inicio.html" %}

{%block title %} Boton Listar {% endblock%}

{% block content%}
    {% load static %}
<body>
    <h1>Buscar Id</h1>
    <br><br>
    {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <script type='text/javascript'>alert('Error, ID no disponible vuelva intentar');</script>
                {% endif %}
            {% endfor %}
    {% endif %}
    <form action="buscar_id" method="POST">
        {% csrf_token %}
        <label>Ingrese rut para buscar alumno</label>
        <input type="text" name="id">
        <input type="submit" name="opcion" value="Buscar">
    </form>
{% endblock %}

{% block javascript%}
{% endblock %}