{% extends "productos/inicio2.html" %}

{%block title %} Boton Listar {% endblock%}

{% block content%}
    {% load static %}
<center>
<div section class="background-6" style="font-family: 'Times New Roman', Times, serif;">
    <form action="buscar_editar" method="POST" >
        {% csrf_token %}
        <div class="row">
                    <br><h4><u>Editar Productos</u></h4>
                <div class="row">
                    <div >
                         <label for="" style="font-size: large;"> Ingrese id para editar: </label>
                            <input type="text" name="id" required placeholder="Ingrese ID">
                            <input type="submit" name="opcion" value="   Buscar   ">
                        </div>
                    </div>

        </div>
    </form>
</div>
 </center>
{% endblock %}

{% block javascript%}
{% endblock %}

