<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eliminar alumno por rut</title>
</head>
<body>
    <h1>Eliminar Alumno por Rut</h1>
    <br><br>
    {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <script type='text/javascript'>alert('Error, rut no disponible vuelva intentar');</script>
                {% endif %}
            {% endfor %}
    {% endif %}
    <form action="eliminar_por_rut" method="POST">
        {% csrf_token %}
        <label>Ingrese rut a eliminar</label>
        <input type="text" name="rut">
        <input type="submit" name="opcion" value="Eliminar">
    </form>

</body>
</html>