{% extends "productos/inicio2.html" %}

{%block title %}Listar {% endblock%}

{% block content%}
    {% load static %}

<div section class="background-6" style="font-family: 'Times New Roman', Times, serif;">
    <form action="eliminar_id" method="POST" >
        {% csrf_token %}
        <div class="row">
               <center>
                   <br>
                   <h2>Eliminar por Id</h2>
                <div class="row">
                    <div>
                        <td>
                           <label for="" style="font-size: large;"> Ingrese ID para eliminar: </label>
                            <input type="text" name="id" required placeholder="Ingrese ID"><br>
                            <input type="submit" name="opcion" value="  Eliminar  ">
                        </td>
                        </div>
                    </div>
               </center>
        </div>
    </form>
</div>
{% endblock %}

{% block javascript%}
{% endblock %}