{% extends "productos/inicio2.html" %}

{%block title %} Buscar{% endblock%}

{% block content%}
    {% load static %}
<div class="background-6" style="font-family: 'Times New Roman', Times, serif;>
    <h1>Buscar</h1>
    <br><br>
    <form action="buscar_id" method="POST">
        {% csrf_token %}
        <label> Ingrese rut para buscar: </label>
        <input type="text" name="id">
        <input type="submit" name="opcion" value="Buscar">

    </form>
</div>

{% endblock %}

{% block javascript%}
{% endblock %}