{% extends "productos/inicio.html" %}

{%block title %} Boton Listar {% endblock%}

{% block content%}
    {% load static %}

    <h1>Agregar datos</h1>
    <br><br>
    <form action="agregar_datos" method="POST">
        {% csrf_token %}
        <label>Id       :</label><input type="text" name="id"><br>
        <label>Nombre   :</label><input type="text" name="nombre"><br>
        <label>A.Paterno:</label><input type="text" name="aPaterno"><br>
        <label>A.Materno:</label><input type="text" name="aMaterno"><br>
        <label>Fecha Nac:</label><input type="date" name="fechaNac"><br>
        <label>Género   :</label>
         <select name="genero">
             <option value="Seleccionar" disabled>Seleccionar</option>
             <option value="masculino">Masculino</option>
             <option value="femenino">Femenino</option>
         </select>
        <br><br>
        <input type="submit" name="opcion" value="Grabar">
    </form>


{% endblock %}

{% block javascript%}
{% endblock %}