{% extends "personas/inicio.html" %}

{%block title %} Boton Listar {% endblock%}

{% block content%}
    {% load static %}

    
      <!--Sección con link-->
        <section class="row background-2">
          <div class="social">
            <ul>
              <li><a href="" class="icon-facebook2"></a></li>
              <li><a href="" class="icon-twitter"></a></li>
              <li><a href="" class="icon-instagram"></a></li>
              <li><a href="" class="icon-envelop"></a></li>
              <li><a href="" class="icon-whatsapp"></a></li>
            </ul>
          </div>
          <center>
            <nav>
              <div class="nav-wrapper">
                <div class="col s12">
                    <p style="color: black;"> - Valeria Céspedes</p>
                    <p style="color: black;"> - Romina Flores</p>
                    <p style="color: black;"> - Desarrollo Aplicaciones Web y Mobile - Sección: 005D</p>
                </div>
              </div>
            </nav>
          </center>
        </section>

        {% endblock %}

{% block javascript%}
{% endblock %}

