{% extends "productos/inicio2.html" %}

{%block title %}Listar {% endblock%}

{% block content%}
    {% load static %}



        <div class="bg-img bg-img-2">

        <center><h4 ><u>Botón Listar</u></h4>
        <div class="col s3 push-s3 offset-s3" >
             <Form action="mostrar_datos" method="POST" section style="font-family: 'Times New Roman', Times, serif;">

                {% csrf_token %}
                <label > Liste los productos que se encuentran en inventario: </label><br>
                <input type="submit" name="opcion" value="Listar"></center>
            </form>
        </div>
        </div>
{% endblock %}

{% block javascript%}
{% endblock %}