{% extends "productos/inicio2.html" %}

{%block title %}Listar {% endblock%}

{% block content%}
    {% load static %}

<div section class="background-6" style="font-family: 'Times New Roman', Times, serif;">
    <form action="mostrar_datos" method="POST" >
        {% csrf_token %}
        <div class="row">
               <center>
                   <br>
                   <h2 >Botón Listar</h2>
                <div class="row">
                    <div>
                           <label for="" style="font-size: large;"> Liste los productos que se encuentran en inventario: </label>
                            <br>
                            <input type="submit" name="opcion" value="   Listar   ">
                        </div>
                    </div>
               </center>
        </div>
    </form>
</div>
{% endblock %}

{% block javascript%}
{% endblock %}