{% extends "productos/inicio2.html" %}

{%block title %} Boton Listar {% endblock %}

{% block content %}
    {% load static %}

<div section class="background-6" style="font-family: 'Times New Roman', Times, serif;">
    <h1>Listado datos</h1>
    La cantidad de productos es {{ listado|length }}<br><br>
    <label>ID      :</label> <br>
    <label>Nombre  :</label><br>
    <label>Precio  :</label><br>
    <label>Stock   :</label><br>

    {% for  datos in listado %}

        {{ datos.id }} - {{ datos.nombre}} - {{ datos.apellido_paterno}} <br>

    {% endfor %}
</div>

{% endblock %}

{% block javascript%}
{% endblock %}