
{% extends "productos/inicio2.html" %}

{%block title %}Listar {% endblock%}

{% block content%}
    {% load static %}

<div section class="background-6" style="font-family: 'Times New Roman', Times, serif;">
        <div class="row">
               <center>
                   <br>
                   <h2 >Datos Guardados</h2>
                            <input type="submit" name="opcion" value="   Listar   ">
                        </div>
                    </div>
               </center>
        </div>
    </form>
</div>
{% endblock %}

{% block javascript%}
{% endblock %}